VITE_CONTACT_ADDRESS="Bhubaneswar, Khordha"
VITE_CONTACT_EMAIL="sujitsmaharana05@gmail.com"
VITE_CONTACT_PHONE="+91 8328837701"
VITE_CONTACT_WHATSAPP="+91 8328837701"
VITE_CONTACT_MAP_EMBED_URL="https://www.google.com/maps?q=Bhubaneswar,%20Khordha&output=embed"
VITE_COMPANY_EMAIL="sujitsmaharana05@gmail.com"
VITE_GOOGLE_SHEET_URL="https://script.google.com/macros/s/REPLACE_WITH_ID/exec"
